* {
	font-size: 30px;
	box-sizing: border-box;
}

body {
	background: #eddff2;
}

table {
	border-collapse: collapse;
	background: linear-gradient(to right, #e0cce8, #d0bfd6, #e0cce8);
}

tr:nth-child(3), tr:nth-child(6) {
	border-bottom: 1px solid black;
}

td:nth-child(3), td:nth-child(6) {
	border-right: 1px solid black;
}

td {
	width: 80px;
	height: 80px;
	text-align: center;
}

input[type=number] {
	width: 50px;
	color: #c98002;	
	background: #f2f0ce;	
	font-weight: bold;
	text-align: center;
}

button {
	color: #ea3919;	
	background: #f2f0ce;		
	font-size: 24px;
}

#page-container {
	width: 700px;
	margin: 50px auto;
}

#solve {
	margin: 15px;
}

.err-tooltip {
	color: #ffffff;
	font-size: 24px;
}

input.usr-input {
	color: #589958;
}