* {
	font-size: 30px;
	box-sizing: border-box;
}

body {
	background: #EDDFF2;
}

table {
	border-collapse: collapse;
	background: linear-gradient(to right, #E0CCE8, #D0BFD6, #E0CCE8);
}

tr:nth-child(3), tr:nth-child(6) {
	border-bottom: 1px solid black;
}

td:nth-child(3), td:nth-child(6) {
	border-right: 1px solid black;
}

td {
	width: 80px;
	height: 80px;
	text-align: center;
}

input[type=number] {
	width: 50px;
	color: #F02244;	
	background: #F2F0CE;	
	font-weight: bold;
	text-align: center;
}

button {
	color: #F02244;	
	background: #F2F0CE;		
	font-size: 24px;
}

#page-container {
	width: 700px;
	margin: 50px auto;
}

#solve {
	margin: 15px;
}

.err-tooltip {
	color: #ffffff;
	font-size: 24px;
}