/*
    Basic size parameters:

    *.font-size
    #page-container.width

    Colors:
    purple  #764383
    magenta #ae0030
    green   #589958
    orange  #c98002
*/

* {
    box-sizing: border-box;
    font-family: "Times New Roman";
}

body {
    background: #eddff2;
}

h1, h2 {
    color: #764383;
    margin: 2.5% 0%;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

p {
    font-size: 1.2em;
    color: #ae0030;
    margin: 2.5% 0%;
}

table {
    border-collapse: collapse;
    background: linear-gradient(to right, #e0cce8, #d0bfd6, #e0cce8);
    box-shadow: 0px 0px 30px;
    width: 100%;
    height: 100%;
}

tr:nth-child(3), tr:nth-child(6) {
    border-bottom: 2px solid #764383;
}

td:nth-child(3), td:nth-child(6) {
    border-right: 2px solid #764383;
}

td {
    width: 11%;
    height: 11%;
    text-align: center;
}

button {
    color: #ae0030;
    background: #f2f0ce;
    font-size: 1.4em;
}

button:hover {
    cursor: pointer;
    color: #a5480f;
    background: #dcd9a4;
}

input[type=number] {
    width: 63%;
    height: 63%;
    color: #c98002; 
    background: #f2f0ce;
    font-weight: bold;
    font-size: 1.5em;
    text-align: right;
}

#intro-message {
    font-size: 1.3em;
    color: #ae0030;
    margin: 2.5% 0%;
}

#page-container {
    margin: 0px auto;
    width: 600px;
    height: auto;
}

#page-container > * {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#sudoku-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
    margin-top: 5%;
}

#sudoku-container div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#button-container {
    width: auto;
}

#solve {
    margin: 2%;
}

.err-tooltip {
    color: #ffffff;
    font-size: 1em;
}

input.usr-input {
    color: #589958;
}

input.wrong-input {
    border: 2px solid red;
}